<html>
    <head>
        <title>Best Restaurants</title>
    </head>
    <body>
        <h1>Best Restaurants</h1>
        <form action="/cuisines" method="get">
            <button type="submit">Select cuisines</button>
        </form>
        <form action="/restaurants" method="get">
            <button type="submit">Select restaurants</button>
        </form>
    </body>
</html>
